:root{
    --merah: #da251d;
    --krem: #ffe9ad;
}
*{
    box-sizing: border-box;
    font-family: 'DM sans';
}
@font-face {
    font-family: 'Jogja';
    src: url(../fonts/Jogjajakartype.otf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body::before{
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Yogyakarta.jpg);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px) opacity(0.1) grayscale(100);
}
header{
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1000;
    background-color: #0000001b;
    box-shadow: 0 0 0px rgba(40, 26, 0, 0.656);
    transition: 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.089);
}
header.scrolled{
    transition: 0.3s ease;
    box-shadow: 0 0 50px rgba(40, 26, 0, 0.656);
    background-color: #ffe9adef;
}
header .icon{
    background-color: var(--merah);
    height: 10vh;
    aspect-ratio: 1.2/1;
    padding: 5px;
    display: flex;
    align-items: center;
}
header .icon img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
header .leftmenu{
    display: flex;
    align-items: center;
}
.leftmenu  h1{
    color: #ffffff;
    font-size: 4vh;
    margin-left: 10px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.713);
}
.leftmenu h1.scrolled{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0);
    color:rgb(66, 34, 0);
}
header ul{
    margin-right: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: nowrap;
}
header ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
header ul li.scrolled{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(66, 0, 34, 0.3);
}
header ul li:last-child {
    border-right: none; 
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    margin: 0 1vw 0 1vw;
    font-weight: 500;
    transition: 0.2s ease;
}
header ul li a.scrolled {
    color:rgb(66, 34, 0);
}
header ul li  :hover{
    transition: 0.2s ease;
    font-weight: 700;
}
header ul li  :active{
    font-weight: 200;
}
#dropparent{
    position: relative;
}
#dropchild{
    border-radius: 20px;
    position: absolute;
    display: none;
    z-index: 100;
    width: max-content;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.678);
}
.droplist{
    border: none;
}
.droplist a{
    margin: 0px;
    text-align: left;
}
#dropparent:hover #dropchild{
    display: block;
}

.bg{
    height: 60vh;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:end;
    color: white;
}
.bg::before{
    box-shadow: 0px 0px 30px rgba(112, 88, 0, 0.631);
    content: ' ';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-radius: 0px 0px 70px 70px;
    z-index: 1;
}
.bgt{
    z-index: 2;
    text-align: left;
    margin-bottom: 5vh;
    margin-left: 5vw;
}
.bgt h1{
    font-size: 10vh;
    font-weight: 300;
    font-family: jogja;
    margin: 0;
}
.bgt p{
    margin: 0;
    font-size: 3vh;
}

article{
    display: flex;
    justify-content:left;
    margin: 30px;
}
article img{
    width: 20vw;
    aspect-ratio: 3/4;
    border-radius: 25px;
    box-shadow: 0 0 5px;
}

footer{
    width: 100%;
    padding: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.295);
    color: white;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

footer .icon{
    background-image: url(../img/batik.png);
    background-repeat: repeat-x;
    background-size: contain;
    filter: opacity(0.5);
    height: 2vw;
}

footer ul{
    justify-content: center;
    list-style: none; 
    margin: 0;            
    padding: 0;            
    display: block;         
    gap: 15px;   
}
.footer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
}