:root{
    --merah: #da251d;
    --krem: #ffe9ad;
}
*{
    box-sizing: border-box;
    font-family: 'DM sans';
}
@font-face {
    font-family: 'Jogja';
    src: url(../fonts/Jogjajakartype.otf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body::before{
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Yogyakarta.jpg);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px) opacity(0.1) grayscale(0);
}
header{
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1000;
    background-color: #0000001b;
    box-shadow: 0 0 0px rgba(40, 26, 0, 0.656);
    transition: 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.089);
}
header.scrolled{
    transition: 0.3s ease;
    box-shadow: 0 0 50px rgba(40, 26, 0, 0.656);
    background-color: #ffe9adef;
}
header .icon{
    background-color: var(--merah);
    height: 10vh;
    aspect-ratio: 1.2/1;
    padding: 5px;
    display: flex;
    align-items: center;
}
header .icon img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
header .leftmenu{
    display: flex;
    align-items: center;
}
.leftmenu  h1{
    color: #ffffff;
    font-size: 4vh;
    margin-left: 10px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.713);
}
.leftmenu h1.scrolled{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0);
    color:rgb(66, 34, 0);
}
header ul{
    margin-right: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: nowrap;
}
header ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
header ul li.scrolled{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(66, 0, 34, 0.3);
}
header ul li:last-child {
    border-right: none; 
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    margin: 0 1vw 0 1vw;
    font-weight: 500;
    transition: 0.2s ease;
}
header ul li a.scrolled {
    color:rgb(66, 34, 0);
}
header ul li  :hover{
    transition: 0.2s ease;
    font-weight: 700;
}
header ul li  :active{
    font-weight: 200;
}
#dropparent{
    position: relative;
}
#dropchild{
    border-radius: 20px;
    position: absolute;
    display: none;
    z-index: 100;
    width: max-content;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.678);
}
.droplist{
    border: none;
}
.droplist a{
    margin: 0px;
    text-align: left;
}
#dropparent:hover #dropchild{
    display: block;
}

.bg{
    height: 50vh;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:end;
    color: white;
}
.bg::before{
    box-shadow: 0px 0px 30px rgba(112, 88, 0, 0.631);
    content: ' ';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 0, 0,0));
    border-radius: 0px 0px 70px 70px;
    z-index: 1;
}
.bgt{
    z-index: 2;
    text-align: left;
    margin-bottom: 5vh;
    margin-left: 5vw;
}
.bgt h1{
    font-size: 10vh;
    font-weight: 300;
    font-family: jogja;
    margin: 0;
}
.bgt p{
    margin: 0;
    font-size: 3vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(1, 2fr 1fr);
    justify-content: space-between;
    margin: 2vw;
    gap: 2vw;
}

.gb{
    background-color: rgba(255, 255, 255, 0.718);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.566);
    width: 100%;
    padding: 25px;
    border-radius: 20px;
    transition: all ease 0.2s;
}

.gb.aftersubmit{
    background-color: rgba(255, 255, 255, 0);
}

#summarycontent{
    display: grid;
    font-weight: 600;
    place-items: center;
    height: 100%;
}
#summarycontent.summarycontent-active{
    height: 0;
    display:inline;
}
.gb:hover{
    transform: scale(1.01);
    transition: all ease 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}
.gb label, .gb h1{
    font-weight: 600;
    font-size: 5vh;
    color:rgb(66, 34, 0)
}
.gb input, select, textarea{
    font-size: 2.5vh;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.722);
    border: none;
    background-color: rgba(255, 255, 255, 0.483);
    padding: 5px;
    transition: ease all 0.3s;
    outline: 0px solid rgba(255, 123, 0, 0) ;
    margin-bottom: 4vh;
    margin-top: 5px;
}
.gb input:hover, select:hover, textarea:hover{
    transform: scale(1.01);
}
.gb input:focus, select:focus, textarea:focus{
    transform: scale(0.99);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    outline: 1px solid rgb(255, 123, 0) ;
    transition: ease all 0.3s;
}
.gb label sup{
    color: red;
}
.btn{
    float: right;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    justify-content: center;
    gap: 15px;
}
.btn button{
    font-size: 2.5vh;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.327);
    background-color: rgba(255, 255, 255, 0.483);
    padding: 5px;
    transition: ease all 0.3s;
}

.btn button:hover{
    transform: scale(1.05);
}
.btn button:active{
    background-color: rgba(255, 255, 255, 0.483);
    transform: scale(0.95);
}

#submit{
    border: solid none;
    background-color: rgba(118, 49, 0, 0.89);
    color: white;
    font-weight: 600;
}

footer{
    width: 100%;
    padding: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.295);
    color: white;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

footer .icon{
    background-image: url(../img/batik.png);
    background-repeat: repeat-x;
    background-size: contain;
    filter: opacity(0.5);
    height: 2vw;
}

footer ul{
    justify-content: center;
    list-style: none; 
    margin: 0;            
    padding: 0;            
    display: block;         
    gap: 15px;   
}
.footer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
}
  /* Profile */
        #profile{
            height: 100%;
            width: 100%;
            background-color: rgba(3, 3, 3, 0.328);
            position: fixed;
            z-index: 1001;
            backdrop-filter: blur(3px);
            display: none;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .profile{
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.475);
            background-color: white;
            text-align: center;
            transition: all ease 0.3s;
            transform: scale(0.9);
        }
        .info{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        #profileimg{
            height: 40vh;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(49, 26, 0, 0.796);
        }
        tr{
            vertical-align: top;
        }
        .close{
            border-radius: 5px;
            border: 1px solid black;
            float: right;
            margin-left: 10px;
            font-size: 1.1rem;
            background-color: rgba(0, 0, 0, 0);
            transition: all ease 0.3s;
            padding: 5px;
        }
        #see{
            border: 1px solid rgb(156,81, 0);
            background-color:rgb(156, 81, 0);
            color: white;
            font-weight: 600;
        }
        .close:hover{
            transform: scale(1.05);
        }
        .close:active{
            transform: scale(0.99);
        }
