:root{
    --merah: #da251d;
    --krem: #ffe9ad;
}
*{
    box-sizing: border-box;
    font-family: 'DM sans';
}
@font-face {
    font-family: 'Jogja';
    src: url(../fonts/Jogjajakartype.otf);
}
svg {
    vertical-align: middle;
    margin-right: 5px;
    width: 1em;
    height: 1em;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body::before{
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/Yogyakarta.jpg);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px) opacity(0.1) grayscale(0);
}
header{
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    z-index: 1000;
    background-color: #0000001b;
    box-shadow: 0 0 0px rgba(40, 26, 0, 0.656);
    transition: 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.089);
}
header.scrolled{
    transition: 0.3s ease;
    box-shadow: 0 0 50px rgba(40, 26, 0, 0.656);
    background-color: #ffe9adef;
}
header .icon{
    background-color: var(--merah);
    height: 10vh;
    aspect-ratio: 1.2/1;
    padding: 5px;
    display: flex;
    align-items: center;
}
header .icon img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
header .leftmenu{
    display: flex;
    align-items: center;
}
.leftmenu  h1{
    color: #ffffff;
    font-size: 4vh;
    margin-left: 10px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.713);
}
.leftmenu h1.scrolled{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0);
    color:rgb(66, 34, 0);
}
header ul{
    margin-right: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: nowrap;
}
header ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
header ul li.scrolled{
    text-shadow: 0 0 20px rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(66, 0, 34, 0.3);
}
header ul li:last-child {
    border-right: none; 
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 3vh;
    margin: 0 1vw 0 1vw;
    font-weight: 500;
    transition: 0.2s ease;
}
header ul li a.scrolled {
    color:rgb(66, 34, 0);
}
header ul li  :hover{
    transition: 0.2s ease;
    font-weight: 700;
}
header ul li  :active{
    font-weight: 200;
}
.bg{
    height: 75vh;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 70px 70px;
    object-fit: cover;
    transition: background-image ease 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.bg::before{
    box-shadow: 0px 0px 30px rgba(112, 88, 0, 0.631);
    content: ' ';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 70px 70px;
    z-index: 1;
}
.bgt{
    z-index: 2;
    text-align: center;
}
.bgt  h1{
    font-size: 12vh;
    font-weight: 300;
    font-family: jogja;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.462);
    margin: 0;
}
.bgt  p{
    margin: 0;
    font-size: 5vh;
    font-family: 'dm sans';
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.462);
}
.exp {
    background-color: #ffae0000;
    border: solid 1px rgba(255, 255, 255, 0.725);
    color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
    backdrop-filter: blur(1px);
    margin-top: 5vh;
    text-align: center;
    font-size: 4vh;
    font-weight: 200;
    border-radius: 25px;
    padding: 2vh;
    transition: 0.1s;
}
.exp:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
    border: solid 1px rgba(255, 255, 255, 0.341);
    backdrop-filter: blur(3px);
    transition: 0.3s;
    font-weight: 300;
    transform: scale(0.99);
}
.exp:active{
    text-shadow: 0 0 10px black;
    border: solid 0px rgb(95, 61, 0);
    background-color: rgba(255, 198, 107, 0.685);
    backdrop-filter: blur(0px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.799);
    transform: scale(0.95);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2vw;
    margin: 0 auto;
    place-items: center; 
    margin: 2vw;
}
.container > .faq:nth-child(7){
    grid-column: span 3;
    background-color: #ffe9ad;
    font-weight: 700;
}
.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.327);
    transition: 0.3s ease;
    text-align: center;
    min-height: 150px;
    outline: solid 2px rgba(255, 145, 0, 0);
    outline-offset: 5px;
}
.card:hover{
    box-shadow: 0 0px 20px rgba(255, 230, 0, 0.127);
    transform: scale(1.01);
    transition: 0.3s ease-out;
    outline: solid 2px rgb(255, 145, 0);
    outline-offset: 5px;
}
.card:active{
    outline: solid 5px rgba(255, 255, 0, 0);
    outline-offset: 20px;
    transform: scale(0.95);
}
.card a{
    text-decoration: none;
}
.card .card-image{
    border-top: solid thick rgb(66, 34, 0);
    border-radius: 20px;
}
.card  .card-image img{
    border-radius: 20px 20px 0px 0px;
    border-bottom: rgb(255, 145, 0) solid 3px;
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
}
.card-content{
    text-align: center;
    margin: 0px 20px;
    color:rgb(66, 34, 0);
}
.FAQ{
    gap: 1vw;
}

.faq{
    width: 100%;
    font-weight: 500;
    padding: 15px;
    color:rgb(66, 34, 0);
    font-size: 1.2vw;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0px 3px rgba(71, 29, 0, 0.514);
    transition: 0.3s ease;
    text-align: center;
    outline: solid 2px rgba(255, 145, 0, 0);
    /* border: solid 1px rgb(0, 0, 0); */
}

.faq:hover{
    box-shadow: 0 0px 20px rgba(255, 230, 0, 0.127);
    transform: scale(1.01);
    transition: 0.3s ease-out;
    outline: solid 2px rgb(255, 145, 0);
    outline-offset: 5px;
    font-weight: 700;
}
.faq:active{
    outline: solid 5px rgba(255, 255, 0, 0);
    outline-offset: 15px;
    transform: scale(0.95);
}

.content{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.475);
    background-color: white;
    text-align: center;
    transition: all ease 0.3s;
    max-width: 30vw;
    color:rgb(66, 34, 0); 
}
.content h1{
    font-family: jogja; margin: 10px; color:rgb(156, 81, 0)
}
#infoclose{
    border-radius: 5px;
     font-size: 1.1rem;
     transition: all ease 0.3s;
     margin-top: 10px;
     padding: 5px;
     background-color:rgb(156, 81, 0);
     color: white;
     font-weight: 600;
}
#infoclose:hover{
     transform: scale(1.01);
}
#infoclose:active{
     transform: scale(0.99);
}

.info, .popup-hidden{
    display: none !important;
}
.popup-visible {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.458);
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1001;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
}

footer{
    width: 100%;
    padding: 10px;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.295);
    background-color: rgb(99, 44, 0);
    color: white;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

footer .icon{
    background-image: url(../img/batik.png);
    background-repeat: repeat-x;
    background-size: contain;
    filter: opacity(0.5);
    height: 2vw;
}

footer ul{
    justify-content: center;
    list-style: none; 
    margin: 0;            
    padding: 0;            
    display: block;         
    gap: 15px;   
}
.footer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, auto);
}
    /* Profile */
        #profile{
            height: 100%;
            width: 100%;
            background-color: rgba(3, 3, 3, 0.328);
            position: fixed;
            z-index: 1001;
            backdrop-filter: blur(3px);
            display: none;
            justify-content: center;
            align-items: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .profile{
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.475);
            background-color: white;
            text-align: center;
            transition: all ease 0.3s;
            transform: scale(0.9);
        }
        .infome{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        #profileimg{
            height: 40vh;
            border-radius: 20px;
            box-shadow: 0 0 5px rgba(49, 26, 0, 0.796);
        }
        tr{
            vertical-align: top;
        }
        .close{
            border-radius: 5px;
            border: 1px solid black;
            float: right;
            margin-left: 10px;
            font-size: 1.1rem;
            background-color: rgba(0, 0, 0, 0);
            transition: all ease 0.3s;
            padding: 5px;
        }
        #see{
            border: 1px solid rgb(156,81, 0);
            background-color:rgb(156, 81, 0);
            color: white;
            font-weight: 600;
        }
        .close:hover{
            transform: scale(1.05);
        }
        .close:active{
            transform: scale(0.99);
        }
